<div class="flex min-h-screen flex-col">
  <div class="pointer-events-none fixed inset-0 -z-10 overflow-hidden">
    <div
      class="absolute -top-[10%] -right-[15%] h-[70vh] w-[70vw] bg-gradient-to-bl from-primary/10 to-transparent [clip-path:polygon(35%_0,100%_0,100%_100%,0_35%)]"
    ></div>
    <div
      class="absolute -top-[5%] right-[5%] h-[50vh] w-[45vw] bg-primary/6 [clip-path:polygon(45%_0,100%_0,100%_80%,10%_100%)]"
    ></div>
    <div
      class="absolute top-[8%] right-[20%] h-[30vh] w-[25vw] bg-primary/8 [clip-path:polygon(30%_0,100%_0,80%_100%,0_70%)]"
    ></div>
  </div>

  <app-public-nav />

  <main class="mx-auto w-full max-w-6xl flex-1 px-6 py-10">
    <router-outlet />
  </main>
</div>
